body {
    background-image: url("piscines2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #132C33;
    border-radius: 1em; 
    background-color: #dcf2ee;  
    }

button {
    margin: 20px 20px 20px 20px;
    text-align: center;
    }
h1 {
        color: #126E82;
        text-align: center;
        font: italic 3.2em "Fira Sans", serif;
        font-size: calc(1.375rem + 1.5vw);
        margin-top: 0;
        font-weight: 700;
        line-height: 1.2;
    }

#display{
    text-align: center;
    font-size: large;
    margin:  1em auto; 
    width: 600px;
    padding: 1em;
    border: 1px solid #132C33;
    border-radius: 1em;
    background-color: #f3d0d6;     
}
button.hover {
    background-color: #93e3d6;
}
div {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: large;
}
header{
    text-align: center;
    padding: 1vh 0;
}
